.root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "header header" "sidebar main";
}
.header {
    grid-area: header;
    border-bottom: 1px solid #ccc;
    height: 60px;
}
.sidebar {
    grid-area: sidebar;
    border-right:  1px solid #ccc;
    height: 100vh;
}
.main {
    grid-area: main;
    margin-left: 10px;
}